body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.header {
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
}

.header img {
  height: 50px;
}
nav li {
  display: inline-block;
  padding: 10px;
}

a {
  color: seashell;
}

.pic-section {
  background-image: url("./images/background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;

}

.mission {
  background-color: black;
  width: 1200px;
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section-two img {
  height: 200px;
  width: 300px;

}

.section-two {
  width: 1000px;
  text-align: center;
}

#img-rw-one {
  display: flex;
  justify-content: space-around;
}



#img-rw-two {
  display: flex;
  justify-content: center;
}
